<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xianyi.mapper.GifpicMapper">

<!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.xianyi.entity.Gifpic">
        <result column="id" property="id"/>
        <result column="photo" property="photo"/>
    </resultMap>

<!--auto generated Code-->
    <sql id="all_column">
        id,
        photo
    </sql>

<!--auto generated Code-->
    <insert id="insert">
        INSERT INTO gifpic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> id, </if>
            <if test="pojo.photo != null"> photo, </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> #{pojo.id}, </if>
            <if test="pojo.photo != null"> #{pojo.photo}, </if>
        </trim>
    </insert>

<!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO gifpic(
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.photo}
            )
        </foreach>
    </insert>

<!--auto generated Code-->
    <update id="update">
        UPDATE gifpic
        <set>
            <if test="pojo.id != null"> id = #{pojo.id}, </if>
            <if test="pojo.photo != null"> photo = #{pojo.photo} </if>
        </set>
         WHERE id = #{pojo.id}
    </update>

<!--auto generated Code-->
    <select id="select" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM gifpic
        <!--<where>-->
            <!--<if test="pojo.id != null"> AND id = #{pojo.id} </if>-->
            <!--<if test="pojo.photo != null"> AND photo = #{pojo.photo} </if>-->
        <!--</where>-->
        LIMIT 10000 
    </select>

<!--auto generated Code-->
    <delete id="delete">
        DELETE FROM gifpic where id = #{pojo.id}
    </delete>
</mapper>
