<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xianyi.mapper.TaskMapper">

<!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.xianyi.entity.Task">
        <result column="taskid" property="taskid"/>
        <result column="taskname" property="taskname"/>
        <result column="taskcontent" property="taskcontent"/>
        <result column="sendid" property="sendid"/>
        <result column="acceptid" property="acceptid"/>
        <result column="taskscore" property="taskscore"/>
        <result column="state" property="state"/>
        <result column="addtime" property="addtime"/>
    </resultMap>

<!--auto generated Code-->
    <sql id="all_column">
        taskid,
        taskname,
        taskcontent,
        sendid,
        acceptid,
        taskscore,
        state,
        addtime
    </sql>

<!--auto generated Code-->
    <insert id="insert">
        INSERT INTO task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.taskid != null"> taskid, </if>
            <if test="pojo.taskname != null"> taskname, </if>
            <if test="pojo.taskcontent != null"> taskcontent, </if>
            <if test="pojo.sendid != null"> sendid, </if>
            <if test="pojo.acceptid != null"> acceptid, </if>
            <if test="pojo.taskscore != null"> taskscore, </if>
            <if test="pojo.state != null"> state, </if>
            <if test="pojo.addtime != null"> addtime, </if>
            <if test="pojo.finishcontent != null"> finishcontent, </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.taskid != null"> #{pojo.taskid}, </if>
            <if test="pojo.taskname != null"> #{pojo.taskname}, </if>
            <if test="pojo.taskcontent != null"> #{pojo.taskcontent}, </if>
            <if test="pojo.sendid != null"> #{pojo.sendid}, </if>
            <if test="pojo.acceptid != null"> #{pojo.acceptid}, </if>
            <if test="pojo.taskscore != null"> #{pojo.taskscore}, </if>
            <if test="pojo.state != null"> #{pojo.state}, </if>
            <if test="pojo.addtime != null"> #{pojo.addtime}, </if>
            <if test="pojo.finishcontent != null"> #{pojo.finishcontent}, </if>
        </trim>
    </insert>

<!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO task(
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.taskid},
            #{pojo.taskname},
            #{pojo.taskcontent},
            #{pojo.sendid},
            #{pojo.acceptid},
            #{pojo.taskscore},
            #{pojo.state},
            #{pojo.addtime}
            )
        </foreach>
    </insert>

<!--auto generated Code-->
    <update id="update">
        UPDATE task
        <set>
            <if test="pojo.taskname != null"> taskname = #{pojo.taskname}, </if>
            <if test="pojo.taskcontent != null"> taskcontent = #{pojo.taskcontent}, </if>
            <if test="pojo.sendid != null"> sendid = #{pojo.sendid}, </if>
            <if test="pojo.acceptid != null"> acceptid = #{pojo.acceptid}, </if>
            <if test="pojo.taskscore != null"> taskscore = #{pojo.taskscore}, </if>
            <if test="pojo.state != null"> state = #{pojo.state}, </if>
            <if test="pojo.addtime != null"> addtime = #{pojo.addtime},</if>
            <if test="pojo.finishcontent != null"> finishcontent = #{pojo.finishcontent} </if>
        </set>
         WHERE taskid = #{pojo.taskid}
    </update>
<update id="giveup" parameterType="int">
    UPDATE task set acceptid=NULL,state=1
    WHERE taskid = #{taskid}
</update>
<!--auto generated Code-->
    <select id="selectbytaskid" resultType="Task" parameterType="int">
        SELECT * FROM task WHERE taskid=#{taskid}

        LIMIT 10000 
    </select>

<!--auto generated Code-->
    <delete id="delete" parameterType="int">
        DELETE FROM task where taskid = #{taskid}
    </delete>
    <resultMap id="allandsendaccept" type="Task">
        <result column="taskid" property="taskid"/>
        <result column="taskname" property="taskname"/>
        <result column="taskcontent" property="taskcontent"/>
        <result column="sendid" property="sendid"/>
        <result column="acceptid" property="acceptid"/>
        <result column="taskscore" property="taskscore"/>
        <result column="state" property="state"/>
        <result column="addtime" property="addtime"/>
        <result column="finishcontent" property="finishcontent"/>
        <association property="senduser" javaType="User" >
            <id property="userid" column="userid"/>

            <result property="username" column="username"/>
            <result property="password" column="password"/>
            <result property="qq" column="qq"/>

            <result property="photo" column="photo"/>
            <result property="rank" column="rank"/>
            <result property="score" column="score"/>
            <result property="gender" column="gender"/>
            <result property="regtime" column="regtime"/>
        </association>
        <association property="acceptuser" javaType="User" >
            <id property="userid" column="userid1"/>

            <result property="username" column="username1"/>
            <result property="password" column="password1"/>
            <result property="qq" column="qq1"/>

            <result property="photo" column="photo1"/>
            <result property="rank" column="rank1"/>
            <result property="score" column="score1"/>
            <result property="gender" column="gender1"/>
            <result property="regtime" column="regtime1"/>
        </association>
    </resultMap>
    <select id="findalltask" resultMap="allandsendaccept">
        SELECT t.*, u1.* ,u2.userid as userid1,u2.username as username1 FROM task t join user u1 on t.sendid=u1.userid
                            left join user u2 on t.acceptid=u2.userid


    </select>
    <select id="findtaskbysendid" resultMap="allandsendaccept" parameterType="int">
        SELECT t.*, u1.* ,u2.userid as userid1,u2.username as username1 FROM task t join user u1 on t.sendid=u1.userid
                            left join user u2 on t.acceptid=u2.userid WHERE sendid=#{sendid}

    </select>
    <select id="findtaskbyacceptid" resultMap="allandsendaccept" parameterType="int">
        SELECT t.*, u1.* ,u2.userid as userid1,u2.username as username1 FROM task t join user u1 on t.sendid=u1.userid
                            left join user u2 on t.acceptid=u2.userid WHERE acceptid=#{acceptid}

    </select>
</mapper>
