<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xianyi.mapper.UserMapper">


	<select id="findUserByuserid" parameterType="int" resultType="User">
		select * from user where userid=#{userid}
	</select>

	<!-- 根据用户名和密码查找用户 -->
	<select id="findUser" parameterType="User" resultType="User">
		 select * from user where username = #{username} and password = #{password}
	</select>

	<insert id="insertUser" parameterType="User">
		insert  into user(username,password,gender,qq,regtime) values(#{username},#{password},#{gender},#{qq},#{regtime})
	</insert>

	<update id="updateUser" parameterType="User">
		update user
		<set>
			<if test="pojo.username!=null">
				username = #{pojo.username},
			</if>
			<if test="pojo.password!=null">
				password = #{pojo.password},
			</if>
			<if test="pojo.gender!=null">
				gender = #{pojo.gender},
			</if>
			<if test="pojo.qq!=null">
				qq = #{pojo.qq},
			</if>
			<if test="pojo.photo!=null">
				photo = #{pojo.photo},
			</if>
			<if test="pojo.rank!=null">
				rank = #{pojo.rank},
			</if>
			<if test="pojo.score!=null">
				score = #{pojo.score}
			</if>
		</set>

		where userid = #{pojo.userid}


	</update>

	<!-- 查询重名 -->
	<select id="checkUsername" parameterType="String" resultType="User">
		select * from user where username = #{username}
	</select>


	<select id="findUserByGender" parameterType="String" resultType="User">
		select * from user where gender = #{gender}
	</select>


</mapper>